body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  color: #ffffff;
}

.container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

button {
  background: #6a5cff;
  border: none;
  padding: 12px 20px;
  color: white;
  border-radius: 8px;
  font-size: 16px;
}

.slider-container {
  display: none;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
  border-radius: 12px;
}

.after-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 50%;
}

#downloadBtn {
  display: none;
  margin-top: 20px;
  background: #00c896;
  padding: 12px;
  border-radius: 8px;
  color: black;
  text-decoration: none;
  font-weight: bold;
}
